<div *ngIf="factureEcheances!=null">
<div class="row">

  <div class="col-md-4">
    <mat-form-field >

      <input style="margin-top: 10px"  matInput [(ngModel)]="currentFilter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <!--<input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)" placeholder="Filter">-->

    </mat-form-field>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
  </div>
</div>
<table mat-table  #factureEcheanceTable
       (matSortChange)="sortChange($event)" [dataSource]="dataSourceFacturesEcheance" class="mat-elevation-z8" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="facture.numFacture">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> N°Facture </th>
    <td mat-cell *matCellDef="let element"><a style="cursor: pointer;text-decoration : underline;font-size: 14px;display: inline;" target="_blank" [routerLink]="['/etatRecouvrementNumDocument/',element.facture.numFacture]"> {{element.facture.numFacture }}</a> </td>
  </ng-container>

  <ng-container matColumnDef="facture.dateEnregistrement"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Facture </th>
    <td mat-cell *matCellDef="let element"> {{element.facture.dateEnregistrement | date:'dd/MM/yyyy'}}   </td>
  </ng-container>



  <ng-container matColumnDef="facture.montantHT">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant HT  </th>
    <td mat-cell *matCellDef="let element"  > {{element.facture.montantHT | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>



  <ng-container matColumnDef="facture.montantTTC">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant TTC   </th>
    <td mat-cell *matCellDef="let element"  > {{element.facture.montantTTC | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="facture.montantRestant">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant payé   </th>
    <td mat-cell *matCellDef="let element"  > {{element.facture.montant | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant échéance  </th>
    <td mat-cell *matCellDef="let element"  > {{element.montantRestant | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>




  <!-- Position Column -->
  <ng-container matColumnDef="facture.debutPeriode">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Période du  </th>
    <td mat-cell *matCellDef="let element"  > {{element.facture.debutPeriode | date:'dd/MM/yyyy'}}  </td>
  </ng-container>


  <ng-container matColumnDef="facture.finPeriode">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Période au  </th>
    <td mat-cell *matCellDef="let element"  > {{element.facture.finPeriode | date:'dd/MM/yyyy'}}  </td>
  </ng-container>


  <ng-container matColumnDef="du">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Echéance  </th>
    <td mat-cell *matCellDef="let element"  ><div [ngStyle]= "(element!=null && element.affectedByUser) && {'color':'red'}" style="font-size: 14px;"  *ngIf="element.echeance">[{{element.echeance.du | date:'dd/MM/yyyy'}} Au  {{element.echeance.au | date:'dd/MM/yyyy'}}]  </div>   </td>
  </ng-container>

  <ng-container matColumnDef="option">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element" >  <a  *ngIf="roleEditEcheance==true"(click)="showEditFactureEcheanceModal(element,editFacturationEcheanceModal)"><i class="fa fa-edit" aria-hidden="true"></i></a>

    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturesEcheance; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsFacturesEcheance;" [ngStyle]= "(row!=null && row.echeance==null) && {'background-color':'#ff0b0b30'}" ></tr>


</table>

<mat-paginator  #factureEcheanceTablePaginator="matPaginator"
               [length]="lengthFactureEcheances "
               [pageSize]="pageSizeFactureEcheances"
               [pageSizeOptions]="pageSizeOptionsFactureEcheances "
               (page)="onPaginateChangeFactureEcheances($event) ">
</mat-paginator>

<ng-template #editFacturationEcheanceModal>
  <div class="modal-header">
    <p>Modification d'une écheance </p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeEditFactureEcheanceModal()">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body rejection-body">

    <div class="row">
      <div class="form-group col-sm-12">
        <label for="numFacture"><i class="fa fa-file-text-o fa-lg"></i> N°facture :</label>

        <input id="numFacture" class="form-control input-sm"
               [(ngModel)]="updatedFactureEcheance.facture.numFacture" name="numFacture" disabled>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-12">
        <label for="au1"><i class="fa fa-calendar-times-o fa-lg"></i> Echeance Au :</label>
        <select id="au1" class="form-control" name="au1"  [(ngModel)]="updatedFactureEcheance.echeance"  >
          <option [ngValue]="null" selected>Aucune échéance </option>
          <option *ngFor="let echeance of allEcheances"
                  [ngValue]="echeance" [ngStyle]= "(echeance!=null && echeance.addedByUser) && {'color':'red'}" style="font-size: 14px;">
            <div *ngIf="echeance.montant"  >[ Du {{echeance.du | date:'dd/MM/yyyy'}} , Au {{echeance.au | date:'dd/MM/yyyy'}}, Montant : {{echeance.montant | currency:'DH':'symbol':undefined:'fr'}} - {{echeance.periodeFacturation}}  ]</div>
            <div *ngIf="echeance.montantPrevision"  >[ Du {{echeance.du | date:'dd/MM/yyyy'}} , Au {{echeance.au | date:'dd/MM/yyyy'}}, Montant Prévisionel : {{echeance.montantPrevision | currency:'DH':'symbol':undefined:'fr'}} - {{echeance.periodeFacturation}}  ]</div>
          </option>
        </select>
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="editFactureEcheance()">Modifier </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="closeEditFactureEcheanceModal()">Annuler</button>

  </div>
</ng-template>


</div>
<div *ngIf="factureEcheances==null"><h5>Chargement des factures pour le contrat {{numContrat}} merci de patienter...</h5></div>

