<nav class="navbar navbar-inverse customNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <div  href="munisys.jpg" style="background-color: white;margin-left: -15px;margin-right: 70px;">
        <img style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
background-color: white" src="assets/logo.png" alt="Munisys">
      </div>
      <p></p>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="roleReadAllProjects ||roleReadMyProjects || roleReadProjectRs || roleReadProjectSi || roleReadAllRecouvrement "  [ngStyle]="{'background-color':notifNav==true ? '#5ed0b0' : '' }" routerLink="/notifications" ><a style="color: white" ><i class="fa fa-dashboard" aria-hidden="true"></i> Notifications </a></li>
      <li *ngIf="roleReadAllProjects ||roleReadMyProjects || roleReadProjectRs || roleReadProjectSi || roleBuCommercial " [ngStyle]="{'background-color':projetNav ? '#5ed0b0' : '' }" ><a style="color: white"  routerLink="/etatProjet"><i class="fa fa-building" aria-hidden="true"></i> Projets</a></li>
      <li *ngIf="roleReadMyRecouvrement || roleReadAllRecouvrement || roleReadMyProjects "><a style="color: white" [ngStyle]="{'background-color':recouvNav ? '#5ed0b0' : '' }" routerLink="/etatRecouvrement"><i class="fa fa-university" aria-hidden="true"></i> Recouvrements</a></li>
      <li *ngIf="roleReadMyRecouvrement || roleReadAllRecouvrement || roleReadMyProjects "><a style="color: white" [ngStyle]="{'background-color':recouvBNav ? '#5ed0b0' : '' }" routerLink="/balanceAgee"><i class="fa fa-money" aria-hidden="true"></i> Balance Agée</a></li>
      <li *ngIf="roleReadAllProjects ||roleReadMyProjects || roleBuCommercial" [ngStyle]="{'background-color':stockNav ? '#5ed0b0' : '' }"><a style="color: white" routerLink="/etatStock"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Stock </a></li>
      <li *ngIf="roleReadAllProjects ||roleReadMyProjects || roleBuCommercial" [ngStyle]="{'background-color':stockPNav ? '#5ed0b0' : '' }"><a style="color: white" routerLink="/etatStockProjet"><i class="fa fa-table"></i> Stock / Projet </a></li>
      <li *ngIf="roleReadAllProjects ||roleReadMyContrats || roleReadAllContrats" [ngStyle]="{'background-color':contratNav ? '#5ed0b0' : '' }"><a style="color: white" routerLink="/contrats"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Contrats <span class="badge badge-primary">New</span> </a></li>
      <li *ngIf="roleReadAllProjects" [ngStyle]="{'background-color':reunionNav ? '#5ed0b0' : '' }"><a style="color: white" routerLink="/consultReunions"><i class="fa fa-calendar" aria-hidden="true"></i>  Reunions </a></li>
    </ul>
    <!--<button class="btn btn-danger navbar-btn">Button</button>-->
    <ul class="nav navbar-nav pull-right">
      <li><a style="color: white" ><i class="fa fa-user-circle-o" aria-hidden="true"> {{userInSession}}</i> </a></li>
      <li ><a style="color: white" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
