<table mat-table  #echeanceTable
       #echeanceTableSort="matSort" [dataSource]="dataSourceEcheance" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Name Column -->
  <ng-container matColumnDef="du">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Période Du </th>
    <td mat-cell *matCellDef="let element"> {{element.du | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="au"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Période Au </th>
    <td mat-cell *matCellDef="let element"> {{element.au | date:'dd/MM/yyyy'}}   </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="montantPrevision">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant Prévisionnel  </th>
    <td mat-cell *matCellDef="let element"  > {{element.montantPrevision | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="periodeFacturation">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fréquence de facturation   </th>
    <td mat-cell *matCellDef="let element"  >{{element.periodeFacturation}}  </td>
  </ng-container>


  <ng-container matColumnDef="factures">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>N°Factures  </th>
    <td mat-cell *matCellDef="let element"  > [ <div style="display: inline;" *ngFor="let fact of element.factures2 ; let i = index" [attr.data-index]="i">
      <a style="cursor: pointer;text-decoration : underline;font-size: 11px;" target="_blank" [routerLink]="['/etatRecouvrementNumDocument/',fact]"  >{{fact}}<div style="display: inline;" *ngIf="i+1 < element.factures2.length">, </div> </a>
    </div> ] </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="montantFacture">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant Facturé  </th>
    <td mat-cell *matCellDef="let element"  > {{element.montantFacture | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>

  <ng-container matColumnDef="montantRestFacture">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Montant R.A.Facturé  </th>
    <td mat-cell *matCellDef="let element"  > {{element.montantRestFacture | currency:'DH':'symbol':undefined:'fr'}}  </td>
  </ng-container>


  <ng-container matColumnDef="occurenceFacturation"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Périodicité </th>
    <td mat-cell *matCellDef="let element"> <div *ngIf="element.occurenceFacturation=='DEBUTPERIODE'">Début de Période</div> <div *ngIf="element.occurenceFacturation=='FINPERIODE'">Fin de Période</div>   </td></ng-container>

  <ng-container matColumnDef="commentaire"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire</th>
    <td mat-cell *matCellDef="let element">

      <select style="margin-left: 5px;width: 175px;" id="commentaireEcheance" class="browser-default custom-select" name="commentaireEcheance" [(ngModel)]="element?.commentaire.id" (change)="onEditEcheance(element)"  >
        <option value="0">Veuillez selectionner un commentaire </option>
        <option *ngFor="let com of commentaireEcheances"
                [ngValue]="com.id">{{com.comment}}</option>
      </select>

  </td>
  </ng-container>

  <ng-container matColumnDef="option"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element">  <a  *ngIf="roleEditEcheance==true" (click)="showDeleteFactureEcheanceModal(element,deleteEcheanceModal)"><i class="fa fa-remove" aria-hidden="true"></i></a>  </td></ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumnsEcheance; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsEcheance;" ></tr>


</table>
<mat-paginator #echeanceTablePaginator="matPaginator"  [pageSizeOptions]="[10, 15, 20, 30]"></mat-paginator>

<ng-template #deleteEcheanceModal>
  <div class="modal-header">
    <h5>Suppression echeance</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="annulationDeleteEcheance()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body rejection-body">

    <div class="row">


      <div class="form-group col-sm-2"></div>
      <div class="form-group col-sm-8">

        <label for="messageDelete"><i class="fa fa-calendar-times-o fa-lg"></i> Cause de suppression :</label>

        <textarea class="form-control input-sm" id="messageDelete" name="messageDelete" [(ngModel)]="selectedEcheance.messageDelete"  placeholder="Ecrire la raison de suppression.." rows="2" ></textarea>

      </div>


    </div>

    <div class="body-title-container">
      <h5 class="title-with-border d-inline" style="color: red">Etes-vous sure de vouloir supprimer l'echance {{selectedEcheance.id}} [Du {{selectedEcheance.du | date:'dd/MM/yyyy'}} , Au {{selectedEcheance.au | date:'dd/MM/yyyy'}}] ?</h5>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="deleteEcheance()">Supprimer</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="annulationDeleteEcheance()">Annuler</button>
  </div>
</ng-template>
