.mat-column-dateEnregistrement{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-remarque{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-du{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-au{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
