<div *ngIf="piecesContrat!=null">
<div class="row">

  <div class="col-md-4">
    <mat-form-field >

      <input style="margin-top: 10px"  matInput [(ngModel)]="currentFilter" (keyup)="applyFilter($event.target.value)" placeholder="Filter" (focusin)="blockedKey()" (focusout)="deBlockedKey()">
      <!--<input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)" placeholder="Filter">-->

    </mat-form-field>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<table mat-table  #pieceContratTable
       (matSortChange)="sortChange($event)" [dataSource]="dataSourcePieceContrat" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Nom du document </th>
    <td mat-cell *matCellDef="let element"> {{element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="type"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}}   </td>
  </ng-container>

  <ng-container matColumnDef="option"  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
    <td mat-cell *matCellDef="let element" (click)="getPiece($event,element.fullPath,element.name)">
      <h6 style="cursor: pointer;text-decoration: underline"
          (click)="getPiece($event,element.fullPath,element.name)">Télécharger </h6>  </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumnPieceContrat; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnPieceContrat;" ></tr>


</table>

<mat-paginator #pieceContratTablePaginator="matPaginator"
                [length]="lengthPieces "
                [pageSize]="pageSizePieces"
                [pageSizeOptions]="pageSizeOptionsPieces "
                (page)="onPaginateChangePieces($event) ">
</mat-paginator>


</div>
<div *ngIf="piecesContrat==null"><h5>Chargement des pieces pour le contrat {{numContrat}} merci de patienter...</h5></div>

