/* You can add global styles to this file, and also import other style files */
body{margin-top:20px;}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:44px;
  height:44px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}

table {
  width: 100%;
}


.mat-column-option {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-codeProjet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-projet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-age {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-client {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-commercial {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-chefProjet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-montantCmd {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-restAlivrer {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-bu {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-livrerNonFacture {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-livreFacturePayer {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}



.mat-header-cell{
 color: white;
  background-color: #337ab7;
}

.mat-sort-header-arrow {
  color: white;
}

/*Bootstrap 3*/
.modal.large {
  width: 80%;
}




table {
  width: 100%;
}

label {
  color: black;
}


th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

td, th {
  width: 25%;
}

.modalHeader2{
  width : 100px;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}



::ng-deep .modal-content {
  max-width: 80%;
  width: 80%;
}

.filled-circle {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #ff0000;
}

.filled-circle2 {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #3cd881;
}

/* Projet*/
.form-inline .form-group { margin-right:10px; }
.well-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
  border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


@media (min-width: 768px) {
  .modal-dialog {
    width: 95%;
    margin: 0px auto;
  }


}

.form-group {
  margin-bottom: 10px;
}

.modal-header {
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .modal-sm {
    width: 30%;
    margin: 20px auto;
  }


}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}
.panel-group{
  margin-bottom: 0px;
}

.panel-heading{
  padding: 0px;
}

.labelModal {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 2px;
}

textarea {
  resize: none;
}


.input-sm {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



.mat-cell {
  font-size: 11px;
  font-family: Arial;
}


* {
  font-size: 10px;
  font-family: Arial;
}


.custom-alert {
  width:300px;
}

.modal-backdrop.in {
  opacity: 0.9;
}

.modal-body {
  background-color: whitesmoke;
  border-radius: 11px;
}

.modal {
  background-color: rgba(58, 51, 51, 0.4);
  padding-top:5px;
}



.confirm-message {
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  font-weight:bold;
  margin-bottom:0px;
  margin-top:5px;
}

.confirm-button {
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.btn-no {
  background-color: #f4516c;
  color:white;
}

.btn-yes {
  background-color: #716aca;
  color:white;
}


.badge {
  padding: 1px 9px 2px;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}


.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom:2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}






.ng-select-container{
  border-color: black;
}


.ng-select.custom .ng-select-container {
  height: 27px;
  border: 1px solid  #2927277d;

}


.ng-select.custom .ng-placeholder {
  color: black;
}



/*Projer End */


/*Recouvrement*/

.form-inline .form-group { margin-right:10px; }
.well-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
  border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


@media (min-width: 768px) {
  .modal-dialog {
    width: 95%;
    margin: 0px auto;
  }


}
.modal-dialog {
  width: 95%;
  margin: 0px auto;
}

.modal-header {
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .modal-sm {
    width: 30%;
    margin: 20px auto;
  }

}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}
.panel-group{
  margin-bottom: 0px;
}

.panel-heading{
  padding: 0px;
}

.form-inline .form-group { margin-right:10px; }
.well-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
  border-color: rgb(53, 126, 189);
}
.glyphicon { margin-right:5px; }


@media (min-width: 768px) {
  .modal-dialog {
    width: 95%;
    margin: 0px auto;
  }


}

.form-group {
  margin-bottom: 10px;
}

.modal-header {
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .modal-sm {
    width: 30%;
    margin: 20px auto;
  }


}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}
.panel-group{
  margin-bottom: 0px;
}

.panel-heading{
  padding: 0px;
}

.labelModal {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 2px;
}

textarea {
  resize: none;
}


.input-sm {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



.mat-cell {
  font-size: 11px;
  font-family: Arial;
}


* {
  font-size: 10px;
  font-family: Arial;
}


.custom-alert {
  width:300px;
}

.modal-backdrop.in {
  opacity: 0.9;
}

.modal-body {
  background-color: whitesmoke;
  border-radius: 11px;
}

.modal {
  background-color: rgba(58, 51, 51, 0.4);
  padding-top:5px;
}



.confirm-message {
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  font-weight:bold;
  margin-bottom:0px;
  margin-top:5px;
}

.confirm-button {
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.btn-no {
  background-color: #f4516c;
  color:white;
}

.btn-yes {
  background-color: #716aca;
  color:white;
}


.tab-card-header {
  background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom:2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}


.ng-select-container{
  border-color: black;
}


.ng-select.custom .ng-select-container {
  height: 27px;
  border: 1px solid  #2927277d;

}


.ng-select.custom .ng-placeholder {
  color: black;
}


.mat-column-chefProjet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-commercial{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-chefProjet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-client{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-age {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-chargerRecouvrement {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 19% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-agePiece {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 38% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}




.mat-column-numPiece {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-montantPiece {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-montantOuvert {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-datePiece {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-codeProjet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-projet {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-typeDocument {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.filled-circle-isLessThanOneMonth {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #84ff00;
}

.filled-circle-isLessThanTwoMonth {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #f9ff44;
}

.filled-circle-isLessThanTreeMonth {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #ffc36f;
}

.filled-circle-isMoreThanTreeMonthAndLessThanTweleveMonth {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #ff0000;
}

.filled-circle-isMoreThanTwelveMonth {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #000000;
  color : white;
}

.filled-circle-isGris {
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #E8E8E8;

}
.dateDepot-less{
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #84ff00;
}

.dateDepot-over{
  padding: 2px 11px;
  border-radius: 100%;
  background-color: red;
}

.retenuGarantie-less{
  padding: 2px 11px;
  border-radius: 100%;
  background-color: #84ff00;
}

.retenuGarantie-over{
  padding: 2px 11px;
  border-radius: 100%;
  background-color: red;
}





/*Recouvrement End*/

/* Dashboad*/

.modal-dialog {
  width: 95%;
  margin: 0px auto;
}



.table-container {
  margin-top: 10px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}


.mat-column-actions{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}



.mat-column-collaborateur{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


